@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&family=Titan+One&display=swap');

:root {
    --main-color: #FFDCDC;
    --button-color: #FFE8CD;
    --text-color: #805799;
    --header-color: #FFD6BA;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--main-color);
    font-family: 'Bungee', sans-serif;
    color: var(--text-color);
    min-height: 100%;
}

.button {
    background-color: var(--text-color);
    color: var(--main-color);
    font-size: clamp(0.5rem, 1.2rem, 1.2rem);
    border-radius: 50px;
    padding: 0.5rem;
}

.brand {
    font-size: clamp(1rem, 2.5rem, 3rem)
}

img {
    height: 60px;
    fill: #953cc9;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--header-color);
    font-weight: 500;
    font-size: 1.5rem;
    flex: 1;
}

a {
    text-decoration: none;
    color: var(--text-color);    
}

a:hover {
    cursor: pointer
}

input,button {
    font: inherit;
}

dialog::backdrop {
    background-color: var(--main-color);
}

form {
    display: grid;
    gap: 1rem;
}

.form-group {
    display: grid;
}

.form-group:has(.close) {
    display: flex;
    justify-content: flex-end;
    margin-top: -0.8rem;
    margin-right: -0.5rem;
}

.form-group .close {
    font-size: clamp(0.5rem, 1.3rem, 1.5rem);
    cursor: pointer;
}

input {
    width: 100%;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    color: currentColor;
    width: 1.15rem;
    height: 1.15rem;
    border: 0.15rem solid currentColor;
    border-radius: 0.15rem;
    transform: translateY(-0.075em);
    align-self: center;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--text-color);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

form .button {
    padding: 0.1rem;
}

#checkbox {
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media (max-width: 768px) {
    .site-header {
        flex-direction: column;
    }
}